.container {
  margin-bottom: 25px;
}
.sectionHeader {
  background: #f5f5f5;
  font-weight: 400;
  padding: 6px 8px;
  margin-bottom: 8px;
}
.row {
  display: flex;
  justify-content: start;
}
.valueCell {
  font-size: 22px;
  padding: 8px 0;
  width: 25%;
  padding-left: 10px;
}
.labelCell {
  font-size: 13px;
  color: #555;
  padding-bottom: 8px;
  width: 25%;
  padding-left: 10px;
}
.editorsLabel,
.viewerLabel {
  font-weight: 600;
  font-size: 12px;
  padding: 8px 0 0 10px;
}

.viewerLabel {
  margin-top: 15px;
}

.divider {
  border-bottom: 1px solid #ddd;
  margin: 2px 10px;
}

.remainingValue {
  color: rgb(1, 125, 28);
}
