.App {
  text-align: center;
  width: 300px;
}

body {
  font-family: 'Open Sans', sans-serif, Arial;
  font-size: 1rem;
  font-weight: 400;
  margin: 0px !important;
  overflow-y: scroll;
  scrollbar-gutter: stable;
  color: rgb(51, 51, 51);
}

.App,
.content,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
td,
th,
label,
a,
li,
ul,
ol {
  color: rgb(51, 51, 51);
}

body::-webkit-scrollbar {
  width: 6px;
  background: #ffffff;
}

body::-webkit-scrollbar-thumb {
  background: #efefef;
}

.content {
  padding-right: 20%;
  padding-left: 20%;
}

@media (max-width: 1200px) {
  .content {
    padding-right: 5%;
    padding-left: 5%;
  }
}
